##Knowlwdge Check - 1

### Printing output

1 - Using print(), print your name and city following the format:

        Name : Angela
        City : New York

In [ ]:
print("Name: Keegan Wills \nCity: NYC")

2 - Print the message below

     Emergency Alert
     NEWS : FLASH FLOOD WARNING this area till 7:00 PM

In [ ]:
print("Emergency Alert\nNEWS : FLSAH FLOOD WARNING in this area until 7:00 pm")

### Arithmetic Operators and Variables

3 - Take a number and divide it by 2, then take the output and divide it by 2, and again divide by 2. Use variables.


    Example
    input : 2000
    output is: 1000 500 250

In [1]:
x = 50
"""for i in range(0, 3):
  x /= 2
  print(x)"""

print("Output:", end= " ")
for i in range(0, 3):
  x/=2
  print(x, end=" ")

Output: 25.0 12.5 6.25

4 - Given three number x, y, and z,


       Output: x to the power of z,
               x to the power of y,
               x minus y,
               remainder value when x is divided by z

In [1]:
x = 3
y = 4
z = 5
print(x**z)
print(x**y)
print(x-y)
print(x%z)

243
81
-1
3

5 - Add

        4 quarters (0.25),  3 dimes (0.10), 2 nickels (0.5) and 1 cent
        Output:  the total amount as dollars and cents.

In [ ]:

money = 0.0
money += 4.0 * 0.25
money += 3.0*0.1
money += 2.0*0.05
money += 1.0*0.01
dollars = money // 1
cents = money - dollars
cents = round(cents, 2)
print("${} and {} cents".format(dollars, cents))

1.0 and 0.41 cents

### Strings

6 - Given the string **Python**, with the help of slicing, get **o**.

In [2]:
word = "Python"
print(word[4])

o

7 - Given the string **Python**, with the help of slicing get,  **tho**.

In [4]:
word = "Python"
print(word[2:5])

tho

8 - Given the string **Python Class**, with the help of slicing, get **Class**.

In [5]:

state = "Python Class"
state_list = state.split(" ")
print(state_list[1])

Class

9 - Find the length of the String  **Welcome to Pace University**

In [6]:

state = "Welcome to Pace University"
print(len(state))

26

10 - Split the String  **Welcome to Pace University**  into words

In [ ]:
state = "Welcome to Pace University"
state_list = state.split(" ")
print(state_list)

11 - Replace the letter  **i**  with  **o**  in  **Artificial intelligence**

In [13]:

state = "Atrificial intelligence"
state_list = list(state)
for num, lett in enumerate(state_list):
    if lett == "i":
        state_list[num] = "o"
state = "".join(state_list)
print(state)

Atrofocoal ontellogence

12 - convert the text  **DATA Science**  into lower case ( as **data science**)

In [23]:
state = "DATA Science"
state = state.lower()
print(state)

data science

13 - convert the text  **DATA Science**  into UPPER case ( as **DATA SCIENCE**)

In [ ]:
state = "DATA Science"
state = state.upper()
print(state)

14 - reverse the given String  **Artificial intelligence**

In [32]:
state = "Artificial Intelligence"
state_list = list(state)
state_list.reverse()
state = "".join(state_list)
print(state)

ecnegilletnI laicifitrA

###Comparision Operators

15 - Compare two number a =150, b = 225 and print if they are:

        equal,
        greater,
        greater than or equal to,
        less,
        less than or equal to,  
        not equal
       
        example : a < b
                  print("a is less than b")

In [35]:

x = 69
y = 420
if x == y:
    print("{} and {} are equal to each other".format(x,y))
if x > y:
    print("{} is greater than {}".format(x,y))
if x >= y:
    print("{} is greater than or equal to {}".format(x,y))
if x < y:
    print("{} is less than {}".format(x,y))
if x <= y:
    print("{} is less than or equal to {}".format(x,y))
if x != y:
    print("{} does not equal {}".format(x,y))

69 is less than 420
69 is less than or equal to 420
69 does not equal 420

###Lists

16 - Create a **list** of **lists** of integers elements

In [ ]:
numbers = [[3, 5, 7, 11, 13, 17, 19], [2, 4, 6, 8, 10], [4, 16, 25, 36,42]]

17 - Create a **list** of **lists** of Text elements

In [ ]:
words = [["Pineapple", "Apple", "Banana", "Blueberry"], ["Carrot", "Broccoli", "Corn", "Pumpkin"]]